name: Check Charm libraries
permissions: {}
on:
  pull_request:
    paths:
      - lib/**
      - src/**
      - charmcraft.yaml
      - pyproject.toml
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-libs:
    name: Check Charm libraries
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      pull-requests: write # required to label PR based on results
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Check libraries
        uses: canonical/charming-actions/check-libraries@2.7.0
        with:
          credentials: ${{ secrets.CHARMHUB_TOKEN }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
