name: Publish conserver charm
permissions: {}
on:
  push:
    branches: [main]
    paths:
      - src/**
      - lib/**
      - charmcraft.yaml
      - pyproject.toml
  workflow_dispatch:

jobs:
  build-and-publish-charm:
    name: Build and Publish Charm
    runs-on: ubuntu-22.04
    permissions:
      contents: write
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@2.7.0
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          channel: "latest/edge"
